.home-container{
    width: 100%;
    min-height: 90vh;
    background-color:$salmon;
}

.home-header {
    background-image: url("../img/books.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100vw;
    padding: 25vh;
}

.home-header-title {
    color: white;
    font-size: 6vh;
}

.home-header-text {
    color: white;
    font-size: 3vh;
}

.home-search-btn {
    color: white;
    background-color:$tan;
    border: solid 3px $red;
    font-size: 3vh;
    margin: 0 2vw 0 2vw;
    a {
        text-decoration: none;
        color: white;
    }
} 

.home-save-btn {
    color: white;
    background-color:$salmonDark;
    border: solid 3px $red;
    font-size: 3vh;
    a {
        text-decoration: none;
        color: white;
    }
}