nav {
    background-color: $salmonDark;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    ul {
        display: flex;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
      }
      li{
        text-transform: uppercase;
        color: white;
        margin: 0 3vw 0 3vw;
      }
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
      }
  }
  
  
  
  